#leftBox{
  width: 30vw;
  height: 100vh;;
  float: left;
}

#rightBox{
  width: 30vw;
  height: 100vh;
  float: right;
}

#middleBox{
  width: 40vw;
  height: 100vh;
  float: left;
}

.tab{
  margin-left: 40px;
}


*{
  margin: 0;
  padding: 0;
}

#linkToSecondPage{
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 115px;
  height: 40px;
  background-color: buttonface;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: black solid 5px;

}

#linkToSecondPage:hover{
  background-color: grey;
}

h1{
  margin-top: 20px;
  margin-bottom: 20px;
}

#buttons{
  float: right;
  margin-right: 30px;
  margin-top: -30px;
}

button{
  padding: 5px;
  border: black solid 5px;
  margin: 2px;
  border-radius: 10px;
}

button:hover{
  background-color: grey;

}
